name: Build secura

on:
  push:
    branches: [ "main" ]
    tags:
      # Publish on any tag starting with a `v`, e.g., v0.1.0
      - v*
  release:
    types: [published]
  workflow_dispatch:

env:
  # https://flet.dev/docs/publish#versioning
  BUILD_NUMBER: 1
  BUILD_VERSION: 1.0.0

  # flet-cli version to install for `flet build`
  FLET_CLI_VERSION: 0.28.3

  # Ensures Python uses UTF-8 encoding by default
  PYTHONUTF8: 1

  # Disables rich text formatting in Flet CLI output
  FLET_CLI_NO_RICH_OUTPUT: 1

  # Disables progress bars when using UV
  UV_NO_PROGRESS: 1

jobs:
  build-windows:
    name: windows build
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Install the code linting and formatting tool Ruff
        run: uv tool install ruff
      - name: Lint code with Ruff
        run: uv run ruff check --output-format=github --target-version=py39
        continue-on-error: true
      - name: Check code formatting with Ruff
        run: uv run ruff format --diff --target-version=py39
        continue-on-error: true

      - name: Install flet ${{ env.FLET_CLI_VERSION }}
        run: |
          uv tool install flet[all]

      - name: Flet Build Windows
        run: |
          uv tool run flet build windows --verbose --no-rich-output --build-number=$env:BUILD_NUMBER --build-version=$env:BUILD_VERSION

      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-build-artifact
          path: build/windows
          if-no-files-found: warn
          overwrite: false

  build-apk:
    name: apk build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Install the code linting and formatting tool Ruff
        run: uv tool install ruff
      - name: Lint code with Ruff
        run: uv run ruff check --output-format=github --target-version=py39
      - name: Check code formatting with Ruff
        run: uv run ruff format --diff --target-version=py39
        continue-on-error: true

      - name: Install flet ${{ env.FLET_CLI_VERSION }}
        run: |
          uv tool install flet[all]

      - name: Flet Build APK
        run: |
          uv tool run flet build apk --verbose --build-number=$BUILD_NUMBER --build-version=$BUILD_VERSION
      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: apk-build-artifact
          path: build/apk
          if-no-files-found: warn
          overwrite: false

  build-macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Install the code linting and formatting tool Ruff
        run: uv tool install ruff
      - name: Lint code with Ruff
        run: uv run ruff check --output-format=github --target-version=py39
      - name: Check code formatting with Ruff
        run: uv run ruff format --diff --target-version=py39
        continue-on-error: true

      - name: Install flet ${{ env.FLET_CLI_VERSION }}
        run: |
          uv tool install flet[all]

      - name: Flet Build macOS
        run: |
          uv tool run flet build macos --verbose --build-number=$BUILD_NUMBER --build-version=$BUILD_VERSION

      - name: Upload macOS Artifact
        uses: actions/upload-artifact@v4
        with:
          name: macos-build-artifact
          path: build/macos
          if-no-files-found: warn
          overwrite: false
